In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [ ]:
df = pd.read_csv('CBB_Listings.csv')
df.head(5)

,listing_id,listing_heading,listing_type,listing_url,listing_first_date,days_on_market,dealer_id,dealer_name,dealer_street,dealer_city,...,wheelbase_from_vin,drivetrain_from_vin,engine_from_vin,transmission_from_vin,fuel_type_from_vin,number_price_changes,price_history_delimited,distance_to_dealer,location_score,listing_dropoff_date
0,f5b663d2-4896-11ef-a15b-8b4423f1ff08,1987 IROC Z 350 Auto T-Tops,Active,https://www.kijiji.ca/v-cars-trucks/edmonton/1...,7/22/2024 0:00,9,11152931,David T's Camaro & Firebird Auto Center,10611 201 St NW,Edmonton,...,0.0,RWD,5.7L V8 TBI,A,Gas,0,"2024-07-22,11500,230860",9.84,5,NaN
1,a9f565e6-4712-11ef-a23f-79dc25c5e601,NaN,Sold,https://www.redlinemotors.ca/vehicle-details/1...,7/20/2024 0:00,4,11131329,Redlinemotors.Ca,14421 Mark Messier Trail,Edmonton,...,0.0,RWD,5.2L V8,A,Gas,0,"2024-07-20,8700,48905",8.30,5,7/24/2024 0:00
2,03d18c58-253a-11ef-8f33-8905b4a2f000,1989 Cadillac DeVille Sedan FWD,Active,https://www.sweetheartmotor.com/cars/used/1989...,6/7/2024 0:00,54,11161704,Gateway Auto & Rv Sales & Financing Ltd,5404 Gateway Blvd NW,Edmonton,...,0.0,FWD,4.5L V8 DI,A,Gas,0,"2024-06-07,6000,174640",5.71,4,NaN
3,2d12630b-460e-11ee-89c4-e5b3161d4741,1989 Cadillac DeVille Sedan FWD,Active,https://www.sweetheartmotor.com/cars/used/1989...,8/28/2023 0:00,338,11128265,Credit Angels,5404 Gateway Blvd NW,Edmonton,...,0.0,FWD,4.5L V8 DI,A,Gas,4,"2023-08-28,4500,174640:2023-09-13,5900,174640:...",5.71,5,NaN
4,53a8e550-47cd-11ef-8587-f926ecb61035,1989 Camaro IROC 350 Auto T-Top,Active,https://www.kijiji.ca/v-cars-trucks/edmonton/1...,7/21/2024 0:00,10,11152931,David T's Camaro & Firebird Auto Center,10611 201 St NW,Edmonton,...,0.0,RWD,5.7L V8 TBI,A,Gas,0,"2024-07-21,8500,288000",9.84,5,NaN

In [ ]:
print(df.shape)

(145114, 46)

In [ ]:
print(df.dtypes)

listing_id                  object
listing_heading             object
listing_type                object
listing_url                 object
listing_first_date          object
days_on_market               int64
dealer_id                    int64
dealer_name                 object
dealer_street               object
dealer_city                 object
dealer_province             object
dealer_postal_code          object
dealer_url                  object
dealer_email               float64
dealer_phone                object
dealer_type                 object
stock_type                  object
vehicle_id                   int64
vin                         object
uvc                          int64
mileage                      int64
price                        int64
msrp                         int64
model_year                   int64
make                        object
model                       object
series                      object
style                       object
certified                    int64
has_leather                  int64
has_navigation               int64
exterior_color              object
exterior_color_category     object
interior_color              object
interior_color_category     object
price_analysis               int64
wheelbase_from_vin         float64
drivetrain_from_vin         object
engine_from_vin             object
transmission_from_vin       object
fuel_type_from_vin          object
number_price_changes         int64
price_history_delimited     object
distance_to_dealer         float64
location_score               int64
listing_dropoff_date        object
dtype: object

In [ ]:
# Keep only listings that have a drop-off date = considered "sold"
df = df[df["listing_dropoff_date"].notnull()]

In [ ]:
df = df.drop(columns=["listing_id", "listing_heading",  "listing_url", "listing_first_date", "days_on_market", "dealer_id", "dealer_name",
                      "dealer_street", "dealer_city", "dealer_province", "dealer_postal_code", "dealer_url", "dealer_email", "dealer_phone", "dealer_type",
                      "vehicle_id", "vin", "uvc", "series", "style", "has_leather", "has_navigation", "price_analysis",
                      "wheelbase_from_vin", "number_price_changes", "price_history_delimited",
                       "distance_to_dealer", "location_score", "listing_dropoff_date", "exterior_color",  "interior_color"])

In [ ]:
df = df[df["price"] > 0]

In [ ]:
print(df["price"].min())  # this will show the minimum price in dataset

1

In [ ]:
df[df["price"] < 1000]["price"].value_counts().sort_index()

price
1      10
3       1
4       2
5       1
11      4
       ..
440     1
737     1
900     1
950     1
995     2
Name: count, Length: 134, dtype: int64

In [ ]:
df = df[df["price"] >= 1000]

In [ ]:
df[df["price"] < 1000]["price"].value_counts().sort_index()

Series([], Name: count, dtype: int64)

In [ ]:
df.isnull().sum()

listing_type                   0
stock_type                     0
mileage                        0
price                          0
msrp                           0
model_year                     0
make                           0
model                          0
certified                      0
exterior_color_category    22397
interior_color_category    40585
drivetrain_from_vin            0
engine_from_vin                0
transmission_from_vin          0
fuel_type_from_vin             0
dtype: int64

In [ ]:
# replacing null values in exterior_color_category
df['exterior_color_category'] = df['exterior_color_category'].fillna(df['exterior_color_category'].mode()[0])

# replacing null values in interior_color_category
df['interior_color_category'] = df['interior_color_category'].fillna(df['interior_color_category'].mode()[0])

In [ ]:
df.isnull().sum()

listing_type               0
stock_type                 0
mileage                    0
price                      0
msrp                       0
model_year                 0
make                       0
model                      0
certified                  0
exterior_color_category    0
interior_color_category    0
drivetrain_from_vin        0
engine_from_vin            0
transmission_from_vin      0
fuel_type_from_vin         0
dtype: int64

In [ ]:
# Check for duplicate rows
print(df.duplicated().sum())

18487

In [ ]:
# Drop duplicate rows
df.drop_duplicates(inplace=True)

# Verify the dataset shape after removing duplicates
print("Dataset shape after removing duplicates:", df.shape)

Dataset shape after removing duplicates: (75867, 15)

In [ ]:
print(df.duplicated().sum())

0

In [ ]:
# Fix unrealistic model years
df = df[(df["model_year"] >= 1900) & (df["model_year"] <= 2025)]

In [ ]:
df['certified'].unique()

array([0, 1])

In [ ]:
# Remove extreme outliers in price (keep 1st to 99th percentile)
price_99th = df["price"].quantile(0.99)
df = df[(df["price"] > 1000) & (df["price"] <= price_99th)]

In [ ]:
# Outlier removal using IQR (for numerical columns)
def remove_outliers(df, column, threshold=1.5):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - threshold * IQR
    upper_bound = Q3 + threshold * IQR
    return df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

for col in ["mileage", "msrp", "model_year"]:
    df = remove_outliers(df, col)

In [ ]:
# Tag vehicles as new or used based on mileage
df['is_new'] = df['mileage'].apply(lambda x: 1 if x < 100 else 0)

In [ ]:
# Select categorical columns
categorical_cols = df.select_dtypes(include=['object']).columns

# Print categorical columns
print("Categorical Columns in the Dataset:")
print(categorical_cols.tolist())

Categorical Columns in the Dataset:
['listing_type', 'stock_type', 'make', 'model', 'exterior_color_category', 'interior_color_category', 'drivetrain_from_vin', 'engine_from_vin', 'transmission_from_vin', 'fuel_type_from_vin']

In [ ]:
# Check frequency of each value in the column
print(df["transmission_from_vin"].value_counts())

transmission_from_vin
A    68233
M     1702
7       13
6        2
Name: count, dtype: int64

In [ ]:
# Find the most common valid transmission type (A or M)
most_common_transmission = df[df["transmission_from_vin"].isin(["A", "M"])]["transmission_from_vin"].mode()[0]

# Replace '6' and '7' with the most common valid value
df["transmission_from_vin"] = df["transmission_from_vin"].replace({"6": most_common_transmission, "7": most_common_transmission})

# Check updated unique values
print(df["transmission_from_vin"].unique())

['A' 'M']

In [ ]:
print(df.isnull().sum())

listing_type               0
stock_type                 0
mileage                    0
price                      0
msrp                       0
model_year                 0
make                       0
model                      0
certified                  0
exterior_color_category    0
interior_color_category    0
drivetrain_from_vin        0
engine_from_vin            0
transmission_from_vin      0
fuel_type_from_vin         0
is_new                     0
dtype: int64

In [ ]:
# Split into new and used vehicles
df_new = df[df["is_new"] == 1].copy()
df_used = df[df["is_new"] == 0].copy()

# Drop columns not needed for modeling
drop_cols = ["is_new", "listing_dropoff_date", "listing_type", "certified", "interior_color_category", "exterior_color_category"]
df_new = df_new.drop(columns=drop_cols, errors='ignore')
df_used = df_used.drop(columns=drop_cols, errors='ignore')

# Add vehicle age as a feature
df_new['age'] = 2025 - df_new['model_year']
df_used['age'] = 2025 - df_used['model_year']

In [ ]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import numpy as np

# Example for Used Vehicles
df_model = df_used.copy()

# Include relevant features and make an explicit copy to avoid SettingWithCopyWarning
X = df_model[["make", "model", "model_year", "mileage", "fuel_type_from_vin", "transmission_from_vin", "stock_type"]].copy()
y = df_model["price"]

# Encode categorical variables
cat_cols = X.select_dtypes(include='object').columns
label_encoders = {}
for col in cat_cols:
    le = LabelEncoder()
    X[col] = le.fit_transform(X[col].astype(str))
    label_encoders[col] = le

# Train/Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train Model
model = LinearRegression()
model.fit(X_train, y_train)

# Evaluate
y_pred = model.predict(X_test)
print("R² Score:", r2_score(y_test, y_pred))
print("MAE:", mean_absolute_error(y_test, y_pred))
print("RMSE:", np.sqrt(mean_squared_error(y_test, y_pred)))

R² Score: 0.46647070790955014
MAE: 9679.210064252533
RMSE: 12944.69372076038

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

# Train Random Forest model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

# Predict and evaluate
y_pred_rf = rf_model.predict(X_test)
print("Random Forest R² Score:", r2_score(y_test, y_pred_rf))
print("MAE:", mean_absolute_error(y_test, y_pred_rf))
print("RMSE:", np.sqrt(mean_squared_error(y_test, y_pred_rf)))

Random Forest R² Score: 0.8862416996856097
MAE: 3889.0207825996536
RMSE: 5977.288147055456

In [ ]:
from xgboost import XGBRegressor

# Train XGBoost model
xgb_model = XGBRegressor(n_estimators=100, learning_rate=0.1, random_state=42)
xgb_model.fit(X_train, y_train)

# Predict and evaluate
y_pred_xgb = xgb_model.predict(X_test)
print("XGBoost R² Score:", r2_score(y_test, y_pred_xgb))
print("MAE:", mean_absolute_error(y_test, y_pred_xgb))
print("RMSE:", np.sqrt(mean_squared_error(y_test, y_pred_xgb)))

XGBoost R² Score: 0.8701160550117493
MAE: 4389.7607421875
RMSE: 6386.903475080862

In [ ]:
# df.to_csv("cleaned_powerbi_vehicle_data.csv", index=False)

In [ ]:
import pickle

# Save Random Forest model
with open("rf_model.pkl", "wb") as f:
    pickle.dump(rf_model, f)

# Save label encoders (should include stock_type)
with open("label_encoders.pkl", "wb") as f:
    pickle.dump(label_encoders, f)

In [ ]:
df_used[["make", "model"]].drop_duplicates().to_csv("make_model_pairs.csv", index=False)

In [ ]:
years = df_used["model_year"].unique()
print("All model years in dataset:")
print(sorted(years))
print(f"Total unique model years: {len(years)}")

All model years in dataset:
[np.int64(2014), np.int64(2015), np.int64(2016), np.int64(2017), np.int64(2018), np.int64(2019), np.int64(2020), np.int64(2021), np.int64(2022), np.int64(2023), np.int64(2024)]
Total unique model years: 11